<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="bower_components/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include header %>
<% posts.forEach(function (post, index) { %>
<p>
<h2><a href="#"><%= post.title %></a></h2></p>
<p class="info">
    作者：<a href="#"><%= post.name %></a> | 日期：<%= post.time.minute %>
</p>
<p><%- post.post %></p>
<% }) %>
<%- include footer %>
</body>
</html>
